.form{
    margin: 25px auto;
}
.form-title{
    position: fixed;
    top: 10px;
    text-transform: uppercase;
    color:#ddd;
    
}
.form-input{
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: rgba(0,0,0,.8);
    color: #ddd;
}