*{
  font-family: 'Roboto', sans-serif;
}
.app{
  background: url('../../assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  border-radius: 5px;
  box-shadow: -3px -3px 30px 5px rgba(66, 68, 90, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app-container{
  display: flex;
  flex-direction: column;
}
